<!--<div class="tg-admin">
    <a class="tg-btn" href="#">Become A Member</a>
    <div class="tg-user">
        <div class="tg-dropdown">
            <figure class="tg-adminpic">
                <span class="tg-dashboardbadge">3</span>
                <a href="dashboard.html"><img src="~/images/icons/icon-41.png" alt="image description"></a>
            </figure>
            <a href="javascript:void(0);" class="tg-usermenu tg-btndropdown">
                <em>howdy, Anjela doe!</em>
            </a>
            <div class="dropdown-menu tg-dropdownbox tg-usermenu">
                <ul>
                    <li>
                        <a href="@Url.Action(" Dashboard","Home")">
                            <i class="fa fa-line-chart"></i>
                            <span>Insights</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action(" ProfileSetting","Home")">
                            <i class="fa fa-user"></i>
                            <span>Profile settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" JobLoction","Home")">
                            <i class="fa fa-location-arrow"></i>
                            <span>Job Locations</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" PrivateMessages","Home")">
                            <i class="fa fa-envelope-o"></i>
                            <span>Private Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Appointment","Home")">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" AppointmentSetting","Home")">
                            <i class="fa fa-gear"></i>
                            <span>Appointment Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" FavoritListing","Home")">
                            <i class="fa fa-heart"></i>
                            <span>Favourite Listings</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Invoice","Home")">
                            <i class="fa fa-clone"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" UpdatePackage","Home")">
                            <i class="fa fa-arrow-up"></i>
                            <span>Update Package</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" SecuritySettings","Home")">
                            <i class="fa fa-gears"></i>
                            <span>Security Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action(" PrivacySettings","Home")">
                            <i class="fa fa-eye"></i>
                            <span>Privacy Settings</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>-->
