@{
    ViewBag.Title = "About";
}







<!--************************************
                Home Banner Start
        *************************************-->
<div class="tg-pageinnerbanner tg-haslayout tg-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/images/banner/img-02.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="tg-pageheadcontent">
                    <div class="tg-pagetitle">
                        <h1>about us</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="tg-active">about us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Home Banner End
*************************************-->
<!--************************************
                Main Start
        *************************************-->
<main id="tg-main" class="tg-main tg-haslayout tg-paddingzero">
    <!--************************************
            Welcome to Medlink Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-push-1 col-xs-12">
                    <div class="row">
                        <div class="tg-welcometomedlink">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="tg-textwidget">
                                    <h2>Welcome To Medilink</h2>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                    <ul class="tg-themelist tg-liststyletick">
                                        <li>Incididunt ut labore dolore magna</li>
                                        <li>Aliqua minim veniam quis</li>
                                        <li>Nostrud exercitation ullamco laboris</li>
                                        <li>Aliquip ex ea commodo consequat</li>
                                        <li>Aute irure dolor in reprehenderit in voluptate</li>
                                    </ul>
                                    <a class="tg-btn" href="#">Become A Member</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="tg-videowidget">
                                    <img src="~/images/placeholder/img-03.jpg" alt="image description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Welcome to Medlink End
    *************************************-->
    <!--************************************
            Statistics Start
    *************************************-->
    <section class="tg-main-section tg-haslayout tg-parallaximg tg-imgoverlap" data-bleed="-17" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/images/parallax/bgparallax-02.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="tg-statisticscounters">
                        <div class="row">
                            <div class="tg-counter">
                                <figure><img src="~/images/icons/icon-05.png" alt="image description"></figure>
                                <h2><span data-from="0" data-to="36012" data-speed="8000" data-refresh-interval="50">36012</span></h2>
                                <h3>Happy Customers</h3>
                            </div>
                            <div class="tg-counter">
                                <figure><img src="~/images/icons/icon-06.png" alt="image description"></figure>
                                <h2><span data-from="0" data-to="21067" data-speed="8000" data-refresh-interval="50">21067</span></h2>
                                <h3>Active Members</h3>
                            </div>
                            <div class="tg-counter">
                                <figure><img src="~/images/icons/icon-07.png" alt="image description"></figure>
                                <h2><span data-from="0" data-to="6954" data-speed="8000" data-refresh-interval="50">6954</span></h2>
                                <h3>New Members</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <figure class="tg-sectionimg"><img src="~/images/img-04.png" alt="image description"></figure>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                Statistics End
    *************************************-->
    <!--************************************
            Medlink Timeline Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>Medlink Timeline</h2>
                            <img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
                        </div>
                    </div>
                    <div class="tg-medlinktimeline">
                        <ul class="tg-medlinktimelinenav" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#one" aria-controls="one" role="tab" data-toggle="tab" data-date="1997"></a>
                            </li>
                            <li role="presentation">
                                <a href="#two" aria-controls="two" role="tab" data-toggle="tab" data-date="1998"></a>
                            </li>
                            <li role="presentation">
                                <a href="#three" aria-controls="three" role="tab" data-toggle="tab" data-date="1999"></a>
                            </li>
                            <li role="presentation">
                                <a href="#four" aria-controls="four" role="tab" data-toggle="tab" data-date="2000"></a>
                            </li>
                            <li role="presentation">
                                <a href="#five" aria-controls="five" role="tab" data-toggle="tab" data-date="2001"></a>
                            </li>
                            <li role="presentation">
                                <a href="#six" aria-controls="six" role="tab" data-toggle="tab" data-date="2002"></a>
                            </li>
                            <li role="presentation">
                                <a href="#seven" aria-controls="seven" role="tab" data-toggle="tab" data-date="2003"></a>
                            </li>
                            <li role="presentation">
                                <a href="#eight" aria-controls="eight" role="tab" data-toggle="tab" data-date="2004"></a>
                            </li>
                            <li role="presentation">
                                <a href="#nine" aria-controls="nine" role="tab" data-toggle="tab" data-date="2005"></a>
                            </li>
                            <li role="presentation">
                                <a href="#ten" aria-controls="ten" role="tab" data-toggle="tab" data-date="2006"></a>
                            </li>
                            <li role="presentation">
                                <a href="#eleven" aria-controls="eleven" role="tab" data-toggle="tab" data-date="2007"></a>
                            </li>
                        </ul>
                        <div class="tab-content tg-midlinktimelinetabcontent">
                            <div role="tabpanel" class="tab-pane fade in active" id="one">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="two">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="three">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="four">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="five">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="six">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="seven">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="eight">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="nine">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ten">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="eleven">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-03.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Do It Right Way</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-04.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Make It Or Leave It</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-01.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Strech Your Limits</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="tg-timelineblog">
                                            <figure>
                                                <img src="~/images/midlinktimeline/img-02.jpg" alt="image description">
                                                <figcaption>
                                                    <a href="#">+</a>
                                                </figcaption>
                                            </figure>
                                            <div class="tg-timelineblogcontent">
                                                <div class="tg-timelineblogtitle"><h3><a href="#">Help All For None</a></h3></div>
                                                <time datetime="2011-12-12">Post Date: June 27, 1998</time>
                                                <div class="tg-description">
                                                    <p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat dolorena.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Medlink Timeline End
    *************************************-->
    <!--************************************
            Student Review Start
    *************************************-->
    <section class="tg-main-section tg-haslayout tg-parallaximg" data-position-x="center" data-position-y="center" data-appear-top-offset="600" data-parallax="scroll" data-bleed="0" data-image-src="~/images/parallax/bgparallax-03.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>Valuable Feedback</h2>
                            <img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
                        </div>
                    </div>
                    <div id="tg-feedbackslider" class="tg-feedbackslider tg-feedback">
                        <div class="item">
                            <div class="tg-feedbackcontent">
                                <blockquote>
                                    <q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
                                </blockquote>
                                <h3>Dr. Steve Northrop</h3>
                                <ul class="tg-metadata">
                                    <li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
                                    <li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-feedbackcontent">
                                <blockquote>
                                    <q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
                                </blockquote>
                                <h3>Lawrence Troutman</h3>
                                <ul class="tg-metadata">
                                    <li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
                                    <li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-feedbackcontent">
                                <blockquote>
                                    <q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
                                </blockquote>
                                <h3>Ahmad Carstensen</h3>
                                <ul class="tg-metadata">
                                    <li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
                                    <li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-feedbackcontent">
                                <blockquote>
                                    <q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
                                </blockquote>
                                <h3>Jenna Strope</h3>
                                <ul class="tg-metadata">
                                    <li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
                                    <li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-feedbackcontent">
                                <blockquote>
                                    <q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
                                </blockquote>
                                <h3>Dolores Mcreynolds</h3>
                                <ul class="tg-metadata">
                                    <li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
                                    <li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="tg-feedbackcontent">
                                <blockquote>
                                    <q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
                                </blockquote>
                                <h3>Dustin Mckillop</h3>
                                <ul class="tg-metadata">
                                    <li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
                                    <li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tg-reviewerdpslider" class="tg-reviewerdpslider tg-reviewerdp">
                        <div class="item">
                            <figure><img src="~/images/thumbnails/img-01.jpg" alt="image description"></figure>
                        </div>
                        <div class="item">
                            <figure><img src="~/images/thumbnails/img-02.jpg" alt="image description"></figure>
                        </div>
                        <div class="item">
                            <figure><img src="~/images/thumbnails/img-03.jpg" alt="image description"></figure>
                        </div>
                        <div class="item">
                            <figure><img src="~/images/thumbnails/img-04.jpg" alt="image description"></figure>
                        </div>
                        <div class="item">
                            <figure><img src="~/images/thumbnails/img-05.jpg" alt="image description"></figure>
                        </div>
                        <div class="item">
                            <figure><img src="~/images/thumbnails/img-06.jpg" alt="image description"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Student Review End
    *************************************-->
    <!--************************************
                Trusted Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="tg-trustedbymany">
                        <div class="tg-sectionhead">
                            <div class="tg-sectiontitle">
                                <h2>Trusted By Many</h2>
                                <img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
                            </div>
                        </div>
                        <div id="tg-brandsslider" class="tg-brandsslider tg-brands">
                            <div class="item">
                                <figure><a href="#"><img src="~/images/brands/img-01.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-02.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-03.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-04.png" alt="image description"></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href="#"><img src="~/images/brands/img-01.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-02.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-03.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-04.png" alt="image description"></a></figure>
                            </div>
                            <div class="item">
                                <figure><a href="#"><img src="~/images/brands/img-01.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-02.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-03.png" alt="image description"></a></figure>
                                <figure><a href="#"><img src="~/images/brands/img-04.png" alt="image description"></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                Trusted End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
