
@{
    ViewBag.Title = "BlogPostDetail";
}

<!--************************************
                Home Banner Start
        *************************************-->
<div class="tg-pageinnerbanner tg-haslayout tg-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/images/banner/img-02.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="tg-pageheadcontent">
                    <div class="tg-pagetitle">
                        <h1>our latest news</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="tg-active">news list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Home Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-sm-8 col-xs-12 pull-right">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-nextprevposts">
                            <div class="tg-btnprevpost">
                                <a href="#">
                                    <figure>
                                        <img src="~/images/thumbnails/img-23.jpg" alt="image description">
                                        <figcaption><i class="fa fa-angle-left"></i></figcaption>
                                    </figure>
                                    <div class="tg-posttname">
                                        <h3>17 Things You Should Know</h3>
                                        <span>Post Author: Pricilla Nader</span>
                                    </div>
                                </a>
                            </div>
                            <div class="tg-btnnextpost">
                                <a href="#">
                                    <div class="tg-posttname">
                                        <h3>17 Things You Should Know</h3>
                                        <span>Post Author: Pricilla Nader</span>
                                    </div>
                                    <figure>
                                        <img src="~/images/thumbnails/img-23.jpg" alt="image description">
                                        <figcaption><i class="fa fa-angle-right"></i></figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <article class="tg-post tg-postdetail">
                            <figure class="tg-postimg"><a href="#"><img src="~/images/post/blogpostdetail.jpg" alt="image description"></a></figure>
                            <div class="tg-postcontent">
                                <time class="tg-postdate" datetime="2011-10-10">June <span>27</span></time>
                                <div class="tg-posttitle">
                                    <h3>Always Take Right Decision</h3>
                                </div>
                                <ul class="tg-metadata">
                                    <li>
                                        <em>Posted By: </em>
                                        <a href="#">Pricilla Nader</a>
                                    </li>
                                </ul>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conuat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident.</p>
                                    <blockquote>
                                        <q>Eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco.</q>
                                    </blockquote>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.</p>
                                </div>
                            </div>
                            <div class="tg-posttagsandshare">
                                <div class="tg-posttags">
                                    <strong>tags:</strong>
                                    <ul class="tg-tags">
                                        <li><a class="tg-tag" href="#">Medical</a></li>
                                        <li><a class="tg-tag" href="#">Healthy</a></li>
                                        <li><a class="tg-tag" href="#">Directory</a></li>
                                    </ul>
                                </div>
                                <div class="tg-postshare">
                                    <strong>share:</strong>
                                    <ul class="tg-socialsharewithtext">
                                        <li class="tg-facebook">
                                            <a class="tg-roundicontext" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-facebook-f"></i>
                                                    <span>share on facebook</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="tg-twitter">
                                            <a class="tg-roundicontext" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-twitter"></i>
                                                    <span>share on twitter</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="tg-linkedin">
                                            <a class="tg-roundicontext" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-linkedin"></i>
                                                    <span>share on linkdin</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="tg-googleplus">
                                            <a class="tg-roundicontext" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-google-plus"></i>
                                                    <span>share on googl+</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="tg-rss">
                                            <a class="tg-roundicontext" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-rss"></i>
                                                    <span>share on RSS</span>
                                                </em>
                                            </a>
                                        </li>
                                        <li class="tg-youtube">
                                            <a class="tg-roundicontext" href="#">
                                                <em class="tg-usericonholder">
                                                    <i class="fa fa-youtube-play"></i>
                                                    <span>share on YouTube</span>
                                                </em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <div class="tg-author">
                            <div class="tg-authorbox">
                                <figure class="tg-authordp"><a href="#"><img src="~/images/thumbnails/img-17.jpg" alt="image description"></a></figure>
                                <div class="tg-authorcontent">
                                    <div class="tg-authorhead">
                                        <div class="tg-leftbox">
                                            <div class="tg-authorname">
                                                <h4><a href="#">Edward Coldiron</a></h4>
                                            </div>
                                            <time datetime="2011-12-12">Author Since: June 2015</time>
                                        </div>
                                        <div class="tg-rightbox">
                                            <ul class="tg-socialsharewithtext">
                                                <li class="tg-facebook">
                                                    <a class="tg-roundicontext" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-facebook-f"></i>
                                                            <span>share on facebook</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="tg-twitter">
                                                    <a class="tg-roundicontext" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-twitter"></i>
                                                            <span>share on twitter</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="tg-linkedin">
                                                    <a class="tg-roundicontext" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-linkedin"></i>
                                                            <span>share on linkdin</span>
                                                        </em>
                                                    </a>
                                                </li>
                                                <li class="tg-googleplus">
                                                    <a class="tg-roundicontext" href="#">
                                                        <em class="tg-usericonholder">
                                                            <i class="fa fa-google-plus"></i>
                                                            <span>share on googl+</span>
                                                        </em>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tg-description">
                                        <p>Cliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip modoia consequat irure dolor in reprehenderit in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tg-comments" class="tg-comments">
                            <h3>03 Comments</h3>
                            <ul id="tg-commentslist" class="tg-commentslist">
                                <li>
                                    <div class="tg-comment">
                                        <div class="tg-commentbox">
                                            <figure class="tg-authordp"><a href="#"><img src="~/images/thumbnails/img-17.jpg" alt="image description"></a></figure>
                                            <div class="tg-authorcontent">
                                                <div class="tg-authorhead">
                                                    <div class="tg-leftbox">
                                                        <div class="tg-authorname">
                                                            <h4><a href="#">Edward Coldiron</a></h4>
                                                        </div>
                                                        <time datetime="2011-12-12">2 Days Ago</time>
                                                    </div>
                                                    <div class="tg-rightbox">
                                                        <ul class="tg-socialsharewithtext">
                                                            <li class="tg-facebook">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-facebook-f"></i>
                                                                        <span>share on facebook</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                            <li class="tg-twitter">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-twitter"></i>
                                                                        <span>share on twitter</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                            <li class="tg-linkedin">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-linkedin"></i>
                                                                        <span>share on linkdin</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                            <li class="tg-googleplus">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-google-plus"></i>
                                                                        <span>share on googl+</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tg-description">
                                                    <p>Cliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip modoia consequat irure dolor in reprehenderit in.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="tg-child">
                                        <li>
                                            <div class="tg-comment">
                                                <div class="tg-commentbox">
                                                    <figure class="tg-authordp"><a href="#"><img src="~/images/thumbnails/img-18.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authorcontent">
                                                        <div class="tg-authorhead">
                                                            <div class="tg-leftbox">
                                                                <div class="tg-authorname">
                                                                    <h4><a href="#">Cinda Landgraf</a></h4>
                                                                </div>
                                                                <time datetime="2011-12-12">5 Min Ago</time>
                                                            </div>
                                                            <div class="tg-rightbox">
                                                                <ul class="tg-socialsharewithtext">
                                                                    <li class="tg-facebook">
                                                                        <a class="tg-roundicontext" href="#">
                                                                            <em class="tg-usericonholder">
                                                                                <i class="fa fa-facebook-f"></i>
                                                                                <span>share on facebook</span>
                                                                            </em>
                                                                        </a>
                                                                    </li>
                                                                    <li class="tg-twitter">
                                                                        <a class="tg-roundicontext" href="#">
                                                                            <em class="tg-usericonholder">
                                                                                <i class="fa fa-twitter"></i>
                                                                                <span>share on twitter</span>
                                                                            </em>
                                                                        </a>
                                                                    </li>
                                                                    <li class="tg-linkedin">
                                                                        <a class="tg-roundicontext" href="#">
                                                                            <em class="tg-usericonholder">
                                                                                <i class="fa fa-linkedin"></i>
                                                                                <span>share on linkdin</span>
                                                                            </em>
                                                                        </a>
                                                                    </li>
                                                                    <li class="tg-googleplus">
                                                                        <a class="tg-roundicontext" href="#">
                                                                            <em class="tg-usericonholder">
                                                                                <i class="fa fa-google-plus"></i>
                                                                                <span>share on googl+</span>
                                                                            </em>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="tg-description">
                                                            <p>Cliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip modoia consequat irure dolor in reprehenderit in.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="tg-comment">
                                        <div class="tg-commentbox">
                                            <figure class="tg-authordp"><a href="#"><img src="~/images/thumbnails/img-19.jpg" alt="image description"></a></figure>
                                            <div class="tg-authorcontent">
                                                <div class="tg-authorhead">
                                                    <div class="tg-leftbox">
                                                        <div class="tg-authorname">
                                                            <h4><a href="#">Maximina Lough</a></h4>
                                                        </div>
                                                        <time datetime="2011-12-12">1 Year Ago</time>
                                                    </div>
                                                    <div class="tg-rightbox">
                                                        <ul class="tg-socialsharewithtext">
                                                            <li class="tg-facebook">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-facebook-f"></i>
                                                                        <span>share on facebook</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                            <li class="tg-twitter">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-twitter"></i>
                                                                        <span>share on twitter</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                            <li class="tg-linkedin">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-linkedin"></i>
                                                                        <span>share on linkdin</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                            <li class="tg-googleplus">
                                                                <a class="tg-roundicontext" href="#">
                                                                    <em class="tg-usericonholder">
                                                                        <i class="fa fa-google-plus"></i>
                                                                        <span>share on googl+</span>
                                                                    </em>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tg-description">
                                                    <p>Cliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip modoia consequat irure dolor in reprehenderit in.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="tg-leavecomments" class="tg-leavecomments">
                            <h3>Leave Your Comment</h3>
                            <form class="tg-formtheme tg-formleavecomment">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Type Message Here"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <button class="tg-btn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 pull-left">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-widget">
                            <div class="tg-widgettitle">
                                <h3>Search</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <form class="tg-formtheme tg-formfeedbacksearch">
                                    <fieldset>
                                        <input type="search" class="form-control" name="search" placeholder="Searc Here">
                                        <button><i class="fa fa-search"></i></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="tg-widget">
                            <div class="tg-widgettitle">
                                <h3>Categories</h3>
                            </div>
                            <div class="tg-widgetcontent tg-widgetcategories">
                                <ul>
                                    <li><a href="#">All <span>(543447)</span></a></li>
                                    <li><a href="#">Psd <span>(4112)</span></a></li>
                                    <li><a href="#">UI/UX <span>(1214)</span></a></li>
                                    <li><a href="#">HTML <span>(755)</span></a></li>
                                    <li><a href="#">Wordpress <span>(1212)</span></a></li>
                                    <li><a href="#">S.E.O <span>(4522)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-widget">
                            <div class="tg-widgettitle">
                                <h3>Most Popular</h3>
                            </div>
                            <div class="tg-widgetcontent tg-widgetpoststyle">
                                <ul>
                                    <li>
                                        <figure><a href="#"><img src="~/images/thumbnails/img-14.jpg" alt="image description"></a></figure>
                                        <div class="tg-postcontent">
                                            <h5><a href="#">Step Forward Or Leave</a></h5>
                                            <span class="tg-subjects">Post Author: Pricilla Nader</span>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="#"><img src="~/images/thumbnails/img-15.jpg" alt="image description"></a></figure>
                                        <div class="tg-postcontent">
                                            <h5><a href="#">10 Tips To Stay Healthy</a></h5>
                                            <span class="tg-subjects">Post Author: Pricilla Nader</span>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="#"><img src="~/images/thumbnails/img-16.jpg" alt="image description"></a></figure>
                                        <div class="tg-postcontent">
                                            <h5><a href="#">17 Things You Should Know</a></h5>
                                            <span class="tg-subjects">Post Author: Pricilla Nader</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-widget">
                            <div class="tg-widgettitle">
                                <h3>Archives</h3>
                            </div>
                            <div class="tg-widgetcontent tg-widgetarchives">
                                <ul>
                                    <li><a href="#">All 2016 <span>(543447)</span></a></li>
                                    <li><a href="#">Jan 2016 <span>(4112)</span></a></li>
                                    <li><a href="#">Feb 2016 <span>(1214)</span></a></li>
                                    <li><a href="#">Mar 2016 <span>(755)</span></a></li>
                                    <li><a href="#">Apr 2016 <span>(1212)</span></a></li>
                                    <li><a href="#">May 2016 <span>(4522)</span></a></li>
                                    <li><a href="#">Jun 2016 <span>(2456)</span></a></li>
                                    <li><a href="#">Jul 2016 <span>(453)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-widget">
                            <div class="tg-widgettitle">
                                <h3>Most Commented</h3>
                            </div>
                            <div class="tg-widgetcontent tg-widgetpoststyle">
                                <ul>
                                    <li>
                                        <figure><a href="#"><img src="~/images/thumbnails/img-14.jpg" alt="image description"></a></figure>
                                        <div class="tg-postcontent">
                                            <h5><a href="#">Step Forward Or Leave</a></h5>
                                            <span class="tg-subjects">Post Author: Pricilla Nader</span>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="#"><img src="~/images/thumbnails/img-15.jpg" alt="image description"></a></figure>
                                        <div class="tg-postcontent">
                                            <h5><a href="#">10 Tips To Stay Healthy</a></h5>
                                            <span class="tg-subjects">Post Author: Pricilla Nader</span>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="#"><img src="~/images/thumbnails/img-16.jpg" alt="image description"></a></figure>
                                        <div class="tg-postcontent">
                                            <h5><a href="#">17 Things You Should Know</a></h5>
                                            <span class="tg-subjects">Post Author: Pricilla Nader</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
<!--************************************
        Main End
*************************************-->
