@{
	ViewBag.Title = "Home Page";
}

<!--************************************
Home Banner Start
		*************************************-->
<div id="tg-homebanner" class="tg-homebanner tg-haslayout">
	<figure class="tg-bannerbg">
		<img src="~/images/banner/img-01.jpg" alt="image description">
	</figure>
	<div class="tg-bannercontent">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<form class="tg-formtheme tg-formsearch">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h1>Find a Medical Help!</h1>
								<img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
							</div>
						</div>
						<fieldset>
							<div class="tg-select">
								<select>
									<option value="">Select Country</option>
									<option value="aberdeen">Aberdeen</option>
									<option value="aldershot">Aldershot</option>
									<option value="altrincham">Altrincham</option>
									<option value="aylesbury">Aylesbury</option>
									<option value="bamber">Bamber</option>
									<option value="bangor">Bangor</option>
									<option value="batley">Batley</option>
									<option value="bebingto">Bebingto</option>
									<option value="bedford">Bedford</option>
									<option value="birmingham">Birmingham</option>
									<option value="blackpool">Blackpool</option>
									<option value="brentwood">Brentwood</option>
									<option value="bristol">Bristol</option>
									<option value="cardiff">Cardiff</option>
									<option value="carlisle">Carlisle</option>
									<option value="crawley">Crawley</option>
									<option value="darlington">Darlington</option>
									<option value="eastleigh">Eastleigh</option>
									<option value="edinburg">Edinburg</option>
									<option value="esher">Esher</option>
									<option value="glasgow-sco">Glasgow SCO</option>
									<option value="guildford">Guildford</option>
									<option value="halesowen">Halesowen</option>
									<option value="halifax">Halifax</option>
									<option value="hamilton">Hamilton</option>
									<option value="leeds">Leeds</option>
									<option value="leicester">Leicester</option>
									<option value="liverpool">Liverpool</option>
									<option value="london">London</option>
									<option value="louisville">Louisville</option>
									<option value="manchester">Manchester</option>
									<option value="sheffield">Sheffield</option>
								</select>
							</div>
							<div class="tg-select">
								<select>
									<option>City/State</option>
									<option>Manchester</option>
									<option>Birmingham</option>
									<option>Bradford</option>
								</select>
							</div>
							<input type="text" name="category" class="form-control" placeholder="Specialities, Doctors, Hospitals, Labs, Spas...">
							<button type="submit" class="tg-btnformsearch"><i class="fa fa-search"></i></button>
						</fieldset>
						<div class="tg-searchbulder">
							<div id="tg-categoryslider" class="tg-categoryslider tg-category">
								<span data-id="doctorscategory" class="item tg-radio">
									<input type="radio" id="doctors" name="maincategory" value="Doctors" checked="">
									<label for="doctors">
										<span><img src="~/images/icons/icon-08.png" alt="image description"></span>
										<span>Doctors</span>
									</label>
								</span>
								<span data-id="hospitalscategory" class="item tg-radio">
									<input type="radio" id="hospitals" name="maincategory" value="Hospitals">
									<label for="hospitals">
										<span><img src="~/images/icons/icon-09.png" alt="image description"></span>
										<span>Hospitals</span>
									</label>
								</span>
								<span data-id="spascategory" class="item tg-radio">
									<input type="radio" id="spas" name="maincategory" value="Spas">
									<label for="spas">
										<span><img src="~/images/icons/icon-10.png" alt="image description"></span>
										<span>Spas</span>
									</label>
								</span>
								<span data-id="pharmaciescategory" class="item tg-radio">
									<input type="radio" id="pharmacies" name="maincategory" value="Pharmacies">
									<label for="pharmacies">
										<span><img src="~/images/icons/icon-11.png" alt="image description"></span>
										<span>Pharmacies</span>
									</label>
								</span>
								<span data-id="labscategory" class="item tg-radio">
									<input type="radio" id="labs" name="maincategory" value="Labs">
									<label for="labs">
										<span><img src="~/images/icons/icon-12.png" alt="image description"></span>
										<span>Labs</span>
									</label>
								</span>
								<span data-id="fitnesscategory" class="item tg-radio">
									<input type="radio" id="fitness" name="maincategory" value="Fitness">
									<label for="fitness">
										<span><img src="~/images/icons/icon-13.png" alt="image description"></span>
										<span>Fitness</span>
									</label>
								</span>
								<span data-id="bloodbankcategory" class="item tg-radio">
									<input type="radio" id="bloodband" name="maincategory" value="Blood Bank">
									<label for="bloodband">
										<span><img src="~/images/icons/icon-14.png" alt="image description"></span>
										<span>Blood Bank</span>
									</label>
								</span>
								<span data-id="clinicscategory" class="item tg-radio">
									<input type="radio" id="clinics" name="maincategory" value="Clinics">
									<label for="clinics">
										<span><img src="~/images/icons/icon-15.png" alt="image description"></span>
										<span>Clinics</span>
									</label>
								</span>
							</div>
							<div id="tg-subcategories" class="tg-subcategories">
								<div id="doctorscategory" class="tg-tabcontent tg-active">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist" name="subcategory" value="Dentist">
										<label for="dentist">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist" name="subcategory" value="Urologist">
										<label for="urologist">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath" name="subcategory" value="Homeopath">
										<label for="homeopath">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda" name="subcategory" value="Ayurveda">
										<label for="ayurveda">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist" name="subcategory" value="Dermatologist">
										<label for="dermatologist">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist" name="subcategory" value="Neurologist">
										<label for="neurologist">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
								</div>
								<div id="hospitalscategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath2" name="subcategory" value="Homeopath">
										<label for="homeopath2">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist2" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist2">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda2" name="subcategory" value="Ayurveda">
										<label for="ayurveda2">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist2" name="subcategory" value="Dermatologist">
										<label for="dermatologist2">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist2" name="subcategory" value="Neurologist">
										<label for="neurologist2">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist2" name="subcategory" value="Dentist">
										<label for="dentist2">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent2" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent2">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist2" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist2">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist2" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist2">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist2" name="subcategory" value="Urologist">
										<label for="urologist2">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
								</div>
								<div id="spascategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist3" name="subcategory" value="Dentist">
										<label for="dentist3">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent3" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent3">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist3" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist3">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist3" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist3">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist3" name="subcategory" value="Urologist">
										<label for="urologist3">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath3" name="subcategory" value="Homeopath">
										<label for="homeopath3">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist3" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist3">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda3" name="subcategory" value="Ayurveda">
										<label for="ayurveda3">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist3" name="subcategory" value="Dermatologist">
										<label for="dermatologist3">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist3" name="subcategory" value="Neurologist">
										<label for="neurologist3">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
								</div>
								<div id="pharmaciescategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath4" name="subcategory" value="Homeopath">
										<label for="homeopath4">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist4" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist4">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda4" name="subcategory" value="Ayurveda">
										<label for="ayurveda4">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist4" name="subcategory" value="Dermatologist">
										<label for="dermatologist4">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist4" name="subcategory" value="Neurologist">
										<label for="neurologist4">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist4" name="subcategory" value="Dentist">
										<label for="dentist4">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent4" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent4">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist4" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist4">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist4" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist4">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist4" name="subcategory" value="Urologist">
										<label for="urologist4">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
								</div>
								<div id="labscategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist5" name="subcategory" value="Dentist">
										<label for="dentist5">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent5" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent5">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist5" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist5">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist5" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist5">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist5" name="subcategory" value="Urologist">
										<label for="urologist5">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath5" name="subcategory" value="Homeopath">
										<label for="homeopath5">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist5" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist5">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda5" name="subcategory" value="Ayurveda">
										<label for="ayurveda5">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist5" name="subcategory" value="Dermatologist">
										<label for="dermatologist5">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist5" name="subcategory" value="Neurologist">
										<label for="neurologist5">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
								</div>
								<div id="fitnesscategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath6" name="subcategory" value="Homeopath">
										<label for="homeopath6">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist6" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist6">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda6" name="subcategory" value="Ayurveda">
										<label for="ayurveda6">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist6" name="subcategory" value="Dermatologist">
										<label for="dermatologist6">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist6" name="subcategory" value="Neurologist">
										<label for="neurologist6">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist6" name="subcategory" value="Dentist">
										<label for="dentist6">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent6" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent6">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist6" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist6">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist6" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist6">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist6" name="subcategory" value="Urologist">
										<label for="urologist6">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
								</div>
								<div id="bloodbankcategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist7" name="subcategory" value="Dentist">
										<label for="dentist7">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent7" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent7">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist7" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist7">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist7" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist7">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist7" name="subcategory" value="Urologist">
										<label for="urologist7">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath7" name="subcategory" value="Homeopath">
										<label for="homeopath7">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist7" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist7">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda7" name="subcategory" value="Ayurveda">
										<label for="ayurveda7">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist7" name="subcategory" value="Dermatologist">
										<label for="dermatologist7">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist7" name="subcategory" value="Neurologist">
										<label for="neurologist7">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
								</div>
								<div id="clinicscategory" class="tg-tabcontent">
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="homeopath8" name="subcategory" value="Homeopath">
										<label for="homeopath8">
											<span><img src="~/images/icons/icon-21.png" alt="image description"></span>
											<span>Homeopath</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ophthalmologist8" name="subcategory" value="Ophthalmologist">
										<label for="ophthalmologist8">
											<span><img src="~/images/icons/icon-22.png" alt="image description"></span>
											<span>Ophthalmologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ayurveda8" name="subcategory" value="Ayurveda">
										<label for="ayurveda8">
											<span><img src="~/images/icons/icon-23.png" alt="image description"></span>
											<span>Ayurveda</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dermatologist8" name="subcategory" value="Dermatologist">
										<label for="dermatologist8">
											<span><img src="~/images/icons/icon-24.png" alt="image description"></span>
											<span>Dermatologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="neurologist8" name="subcategory" value="Neurologist">
										<label for="neurologist8">
											<span><img src="~/images/icons/icon-25.png" alt="image description"></span>
											<span>Neurologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="dentist8" name="subcategory" value="Dentist">
										<label for="dentist8">
											<span><img src="~/images/icons/icon-16.png" alt="image description"></span>
											<span>Dentist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="ent8" name="subcategory" value="Ear-Nose-Throat (ENT)">
										<label for="ent8">
											<span><img src="~/images/icons/icon-17.png" alt="image description"></span>
											<span>Ear-Nose-Throat (ENT)</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="gastroenterologist8" name="subcategory" value="Gastroenterologist">
										<label for="gastroenterologist8">
											<span><img src="~/images/icons/icon-18.png" alt="image description"></span>
											<span>Gastroenterologist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="psychiatrist8" name="subcategory" value="Psychiatrist">
										<label for="psychiatrist8">
											<span><img src="~/images/icons/icon-19.png" alt="image description"></span>
											<span>Psychiatrist</span>
										</label>
									</span>
									<span class="tg-checkbox tg-subcategorycheckbox">
										<input type="checkbox" id="urologist8" name="subcategory" value="Urologist">
										<label for="urologist8">
											<span><img src="~/images/icons/icon-20.png" alt="image description"></span>
											<span>Urologist</span>
										</label>
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Home Banner End
*************************************-->
<!--************************************
		Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
	<!--************************************
			Features Start
	*************************************-->
	<section class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div class="tg-sectionhead">
						<div class="tg-sectiontitle">
							<h2>A Complete Medical Portal</h2>
							<img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
						</div>
					</div>
				</div>
				<div class="tg-features">
					<div class="col-sm-4 col-xs-12">
						<div class="tg-feature">
							<figure class="tg-featureicon"><img src="~/images/icons/icon-02.png" alt="image description"></figure>
							<h3><a href="#">Find Medical Help</a></h3>
							<div class="tg-description">
								<p>Consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="tg-feature">
							<figure class="tg-featureicon"><img src="~/images/icons/icon-03.png" alt="image description"></figure>
							<h3><a href="#">Make Appointment</a></h3>
							<div class="tg-description">
								<p>Consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="tg-feature">
							<figure class="tg-featureicon"><img src="~/images/icons/icon-04.png" alt="image description"></figure>
							<h3><a href="#">Get Facilitate</a></h3>
							<div class="tg-description">
								<p>Consectetur adipisicing elit eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam quis nostrud exercitation ullamco laboris.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			Features End
	*************************************-->
	<!--************************************
			Statistics Start
	*************************************-->
	<section class="tg-main-section tg-haslayout tg-parallaximg tg-imgoverlap" data-bleed="-17" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/images/parallax/bgparallax-02.jpg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="tg-statisticscounters">
						<div class="row">
							<div class="tg-counter">
								<figure><img src="~/images/icons/icon-05.png" alt="image description"></figure>
								<h2><span data-from="0" data-to="36012" data-speed="8000" data-refresh-interval="50">36012</span></h2>
								<h3>Happy Customers</h3>
							</div>
							<div class="tg-counter">
								<figure><img src="~/images/icons/icon-06.png" alt="image description"></figure>
								<h2><span data-from="0" data-to="21067" data-speed="8000" data-refresh-interval="50">21067</span></h2>
								<h3>Active Members</h3>
							</div>
							<div class="tg-counter">
								<figure><img src="~/images/icons/icon-07.png" alt="image description"></figure>
								<h2><span data-from="0" data-to="6954" data-speed="8000" data-refresh-interval="50">6954</span></h2>
								<h3>New Members</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 hidden-xs">
					<figure class="tg-sectionimg"><img src="~/images/img-04.png" alt="image description"></figure>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			Statistics End
	*************************************-->
	<!--************************************
			Featured DiretPost Start
	*************************************-->
	<section class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div class="tg-sectionhead">
						<div class="tg-sectiontitle">
							<h2>Featured Listings</h2>
							<img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
						</div>
					</div>
					<ul id="tg-filterbalenav" class="tg-filterbalenav option-set">
						<li><a class="tg-active" data-filter="*" href="javascript:void(0);">all</a></li>
						<li><a data-filter=".doctors" href="javascript:void(0);">Doctors</a></li>
						<li><a data-filter=".hospitals" href="javascript:void(0);">Hospitals</a></li>
						<li><a data-filter=".spas" href="javascript:void(0);">Spas</a></li>
						<li><a data-filter=".pharmacies" href="javascript:void(0);">Pharmacies</a></li>
						<li><a data-filter=".lab" href="javascript:void(0);">Lab</a></li>
						<li><a data-filter=".fitnesscenters" href="javascript:void(0);">Fitness Centers</a></li>
					</ul>
					<div id="filter-masonry" class="tg-featureddirectposts tg-searchresult tg-filtermasonry">
						<div class="tg-directpost doctors">
							<figure class="tg-directpostimg">
								<a href="#"><img src="~/images/directpost/img-01.jpg" alt="image description"></a>
								<figcaption>
									<a class="tg-usericon tg-iconfeatured" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-bolt"></i>
											<span>featured</span>
										</em>
									</a>
									<a class="tg-usericon tg-iconvarified" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-shield"></i>
											<span>varified</span>
										</em>
									</a>
								</figcaption>
							</figure>
							<div class="tg-directinfo">
								<div class="tg-leftarea">
									<div class="tg-directposthead">
										<h3><a href="#">Dr. Steve Northrop</a></h3>
										<div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
									</div>
									<ul class="tg-contactinfo">
										<li><a href="#"><i class="fa fa-location-arrow"></i><address>154 Bayswater Rd, W2 4HP, UK</address></a></li>
										<li><a href="#"><i class="fa fa-phone"></i><span>+4 235 856843</span></a></li>
									</ul>
								</div>
								<div class="tg-rightarea">
									<div class="tg-bookappoinment">
										<a href="#"><i class="fa fa-thumbs-o-up"></i>99%<span>(1009 votes)</span></a>
										<button type="button" class="tg-btn" data-toggle="modal" data-target="#tg-appointmentlightbox">Book Appointment</button>
										<ul class="tg-metadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#"><i class="fa fa-heart tg-like"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-directpost hospitals">
							<figure class="tg-directpostimg">
								<a href="#"><img src="~/images/directpost/img-02.jpg" alt="image description"></a>
								<figcaption>
									<a class="tg-usericon tg-iconfeatured" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-bolt"></i>
											<span>featured</span>
										</em>
									</a>
									<a class="tg-usericon tg-iconvarified" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-shield"></i>
											<span>varified</span>
										</em>
									</a>
								</figcaption>
							</figure>
							<div class="tg-directinfo">
								<div class="tg-leftarea">
									<div class="tg-directposthead">
										<h3><a href="#">Dr. Steve Northrop</a></h3>
										<div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
									</div>
									<ul class="tg-contactinfo">
										<li><a href="#"><i class="fa fa-location-arrow"></i><address>154 Bayswater Rd, W2 4HP, UK</address></a></li>
										<li><a href="#"><i class="fa fa-phone"></i><span>+4 235 856843</span></a></li>
									</ul>
								</div>
								<div class="tg-rightarea">
									<div class="tg-bookappoinment">
										<a href="#"><i class="fa fa-thumbs-o-up"></i>99%<span>(1009 votes)</span></a>
										<button type="button" class="tg-btn" data-toggle="modal" data-target="#tg-appointmentlightbox">Book Appointment</button>
										<ul class="tg-metadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#"><i class="fa fa-heart tg-like"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-directpost spas">
							<figure class="tg-directpostimg">
								<a href="#"><img src="~/images/directpost/img-03.jpg" alt="image description"></a>
								<figcaption>
									<a class="tg-usericon tg-iconfeatured" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-bolt"></i>
											<span>featured</span>
										</em>
									</a>
									<a class="tg-usericon tg-iconvarified" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-shield"></i>
											<span>varified</span>
										</em>
									</a>
								</figcaption>
							</figure>
							<div class="tg-directinfo">
								<div class="tg-leftarea">
									<div class="tg-directposthead">
										<h3><a href="#">Dr. Steve Northrop</a></h3>
										<div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
									</div>
									<ul class="tg-contactinfo">
										<li><a href="#"><i class="fa fa-location-arrow"></i><address>154 Bayswater Rd, W2 4HP, UK</address></a></li>
										<li><a href="#"><i class="fa fa-phone"></i><span>+4 235 856843</span></a></li>
									</ul>
								</div>
								<div class="tg-rightarea">
									<div class="tg-bookappoinment">
										<a href="#"><i class="fa fa-thumbs-o-up"></i>99%<span>(1009 votes)</span></a>
										<button type="button" class="tg-btn">Available on Call</button>
										<ul class="tg-metadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#"><i class="fa fa-heart tg-like"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-directpost pharmacies">
							<figure class="tg-directpostimg">
								<a href="#"><img src="~/images/directpost/img-04.jpg" alt="image description"></a>
								<figcaption>
									<a class="tg-usericon tg-iconfeatured" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-bolt"></i>
											<span>featured</span>
										</em>
									</a>
									<a class="tg-usericon tg-iconvarified" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-shield"></i>
											<span>varified</span>
										</em>
									</a>
								</figcaption>
							</figure>
							<div class="tg-directinfo">
								<div class="tg-leftarea">
									<div class="tg-directposthead">
										<h3><a href="#">Dr. Steve Northrop</a></h3>
										<div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
									</div>
									<ul class="tg-contactinfo">
										<li><a href="#"><i class="fa fa-location-arrow"></i><address>154 Bayswater Rd, W2 4HP, UK</address></a></li>
										<li><a href="#"><i class="fa fa-phone"></i><span>+4 235 856843</span></a></li>
									</ul>
								</div>
								<div class="tg-rightarea">
									<div class="tg-bookappoinment">
										<a href="#"><i class="fa fa-thumbs-o-up"></i>99%<span>(1009 votes)</span></a>
										<button type="button" class="tg-btn" data-toggle="modal" data-target="#tg-appointmentlightbox">Book Appointment</button>
										<ul class="tg-metadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#"><i class="fa fa-heart tg-like"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-directpost lab">
							<figure class="tg-directpostimg">
								<a href="#"><img src="~/images/directpost/img-05.jpg" alt="image description"></a>
								<figcaption>
									<a class="tg-usericon tg-iconfeatured" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-bolt"></i>
											<span>featured</span>
										</em>
									</a>
									<a class="tg-usericon tg-iconvarified" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-shield"></i>
											<span>varified</span>
										</em>
									</a>
								</figcaption>
							</figure>
							<div class="tg-directinfo">
								<div class="tg-leftarea">
									<div class="tg-directposthead">
										<h3><a href="#">Dr. Steve Northrop</a></h3>
										<div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
									</div>
									<ul class="tg-contactinfo">
										<li><a href="#"><i class="fa fa-location-arrow"></i><address>154 Bayswater Rd, W2 4HP, UK</address></a></li>
										<li><a href="#"><i class="fa fa-phone"></i><span>+4 235 856843</span></a></li>
									</ul>
								</div>
								<div class="tg-rightarea">
									<div class="tg-bookappoinment">
										<a href="#"><i class="fa fa-thumbs-o-up"></i>99%<span>(1009 votes)</span></a>
										<button type="button" class="tg-btn">Available on Call</button>
										<ul class="tg-metadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#"><i class="fa fa-heart tg-like"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-directpost fitnesscenters">
							<figure class="tg-directpostimg">
								<a href="#"><img src="~/images/directpost/img-01.jpg" alt="image description"></a>
								<figcaption>
									<a class="tg-usericon tg-iconfeatured" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-bolt"></i>
											<span>featured</span>
										</em>
									</a>
									<a class="tg-usericon tg-iconvarified" href="#">
										<em class="tg-usericonholder">
											<i class="fa fa-shield"></i>
											<span>varified</span>
										</em>
									</a>
								</figcaption>
							</figure>
							<div class="tg-directinfo">
								<div class="tg-leftarea">
									<div class="tg-directposthead">
										<h3><a href="#">Dr. Steve Northrop</a></h3>
										<div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
									</div>
									<ul class="tg-contactinfo">
										<li><a href="#"><i class="fa fa-location-arrow"></i><address>154 Bayswater Rd, W2 4HP, UK</address></a></li>
										<li><a href="#"><i class="fa fa-phone"></i><span>+4 235 856843</span></a></li>
									</ul>
								</div>
								<div class="tg-rightarea">
									<div class="tg-bookappoinment">
										<a href="#"><i class="fa fa-thumbs-o-up"></i>99%<span>(1009 votes)</span></a>
										<button type="button" class="tg-btn" data-toggle="modal" data-target="#tg-appointmentlightbox">Book Appointment</button>
										<ul class="tg-metadata">
											<li><span class="tg-stars"><span></span></span></li>
											<li><a href="#"><i class="fa fa-heart tg-like"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			Featured DiretPost End
	*************************************-->
	<!--************************************
			Student Review Start
	*************************************-->
	<section class="tg-main-section tg-haslayout tg-parallaximg" data-position-x="center" data-position-y="center" data-appear-top-offset="600" data-parallax="scroll" data-bleed="0" data-image-src="~/images/parallax/bgparallax-03.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="tg-sectionhead">
						<div class="tg-sectiontitle">
							<h2>Valuable Feedback</h2>
							<img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
						</div>
					</div>
					<div id="tg-feedbackslider" class="tg-feedbackslider tg-feedback">
						<div class="item">
							<div class="tg-feedbackcontent">
								<blockquote>
									<q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
								</blockquote>
								<h3>Dr. Steve Northrop</h3>
								<ul class="tg-metadata">
									<li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
									<li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="tg-feedbackcontent">
								<blockquote>
									<q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
								</blockquote>
								<h3>Lawrence Troutman</h3>
								<ul class="tg-metadata">
									<li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
									<li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="tg-feedbackcontent">
								<blockquote>
									<q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
								</blockquote>
								<h3>Ahmad Carstensen</h3>
								<ul class="tg-metadata">
									<li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
									<li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="tg-feedbackcontent">
								<blockquote>
									<q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
								</blockquote>
								<h3>Jenna Strope</h3>
								<ul class="tg-metadata">
									<li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
									<li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="tg-feedbackcontent">
								<blockquote>
									<q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
								</blockquote>
								<h3>Dolores Mcreynolds</h3>
								<ul class="tg-metadata">
									<li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
									<li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="tg-feedbackcontent">
								<blockquote>
									<q>Consectetur adipisicing elit sed do eiusmod tempor incididunt lab doloregna aliqua ut enim ad minim veniam nostrud exercitation liatota ullamco.</q>
								</blockquote>
								<h3>Dustin Mckillop</h3>
								<ul class="tg-metadata">
									<li><span>MDS - Paedodontics &amp; Preventive Dentistry </span></li>
									<li><span class="tg-tooltip tg-stars" data-toggle="tooltip" data-placement="top right" title="4.85 average based on 423 ratings"><span></span></span></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="tg-reviewerdpslider" class="tg-reviewerdpslider tg-reviewerdp">
						<div class="item">
							<figure><img src="~/images/thumbnails/img-01.jpg" alt="image description"></figure>
						</div>
						<div class="item">
							<figure><img src="~/images/thumbnails/img-02.jpg" alt="image description"></figure>
						</div>
						<div class="item">
							<figure><img src="~/images/thumbnails/img-03.jpg" alt="image description"></figure>
						</div>
						<div class="item">
							<figure><img src="~/images/thumbnails/img-04.jpg" alt="image description"></figure>
						</div>
						<div class="item">
							<figure><img src="~/images/thumbnails/img-05.jpg" alt="image description"></figure>
						</div>
						<div class="item">
							<figure><img src="~/images/thumbnails/img-06.jpg" alt="image description"></figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			Student Review End
	*************************************-->
	<!--************************************
			Trusted By Many Start
	*************************************-->
	<section class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="tg-trustedbymany">
						<div class="tg-sectionhead">
							<div class="tg-sectiontitle">
								<h2>Trusted By Many</h2>
								<img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
							</div>
						</div>
						<div id="tg-brandsslider" class="tg-brandsslider tg-brands">
							<div class="item">
								<figure><a href="#"><img src="~/images/brands/img-01.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-02.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-03.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-04.png" alt="image description"></a></figure>
							</div>
							<div class="item">
								<figure><a href="#"><img src="~/images/brands/img-01.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-02.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-03.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-04.png" alt="image description"></a></figure>
							</div>
							<div class="item">
								<figure><a href="#"><img src="~/images/brands/img-01.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-02.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-03.png" alt="image description"></a></figure>
								<figure><a href="#"><img src="~/images/brands/img-04.png" alt="image description"></a></figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			Trusted By Many Start
	*************************************-->
	<!--************************************
			Register Start
	*************************************-->
	<section class="tg-main-section tg-haslayout tg-parallaximg" data-position-x="center" data-position-y="center" data-appear-top-offset="600" data-parallax="scroll" data-bleed="0" data-image-src="~/images/parallax/bgparallax-04.jpg">
		<div class="container">
			<div class="row">
				<div class="tg-freeregistration">
					<div class="tg-regleftarea">
						<h2>Register For Free!</h2>
						<div class="tg-description"><p>Consectetur adiaisicine elit eiusmod temtor incididunt ut laborei dolore matna alicua minim veniam.</p></div>
					</div>
					<div class="tg-regrightarea">
						<a class="tg-btn" href="javascript:void(0);">Register Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			Register Start
	*************************************-->
	<!--************************************
			News Start
	*************************************-->
	<section class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div class="tg-newstrusted">
					<div class="tg-sectionhead">
						<div class="tg-sectiontitle">
							<h2>Latest News</h2>
							<img class="tg-svginject" src="~/images/sectionline.svg" alt="image description">
						</div>
					</div>
					<div class="tg-latestnews">
						<div class="col-sm-4">
							<article class="tg-post">
								<figure class="tg-postimg"><a href="#"><img src="~/images/post/img-01.jpg" alt="image description"></a></figure>
								<div class="tg-postcontent">
									<time class="tg-postdate" datetime="2011-10-10">June <span>27</span></time>
									<div class="tg-posttitle">
										<h3><a href="#">Always Take Right Decision</a></h3>
									</div>
									<ul class="tg-metadata">
										<li>
											<em>Posted By: </em>
											<a href="#">Pricilla Nader</a>
										</li>
									</ul>
									<div class="tg-description"><p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat.</p></div>
								</div>
							</article>
						</div>
						<div class="col-sm-4">
							<article class="tg-post">
								<figure class="tg-postimg"><a href="#"><img src="~/images/post/img-02.jpg" alt="image description"></a></figure>
								<div class="tg-postcontent">
									<time class="tg-postdate" datetime="2011-10-10">June <span>27</span></time>
									<div class="tg-posttitle">
										<h3><a href="#">Always Take Right Decision</a></h3>
									</div>
									<ul class="tg-metadata">
										<li>
											<em>Posted By: </em>
											<a href="#">Pricilla Nader</a>
										</li>
									</ul>
									<div class="tg-description"><p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat.</p></div>
								</div>
							</article>
						</div>
						<div class="col-sm-4">
							<article class="tg-post">
								<figure class="tg-postimg"><a href="#"><img src="~/images/post/img-03.jpg" alt="image description"></a></figure>
								<div class="tg-postcontent">
									<time class="tg-postdate" datetime="2011-10-10">June <span>27</span></time>
									<div class="tg-posttitle">
										<h3><a href="#">Always Take Right Decision</a></h3>
									</div>
									<ul class="tg-metadata">
										<li>
											<em>Posted By: </em>
											<a href="#">Pricilla Nader</a>
										</li>
									</ul>
									<div class="tg-description"><p>Consectetur adipisicing elit eiusmod ipor incididunt utreiat.</p></div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--************************************
			News & Trusted End
	*************************************-->
</main>
<!--************************************
		Main End
*************************************-->
